In [187]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from tqdm import tqdm
import time
from selenium.webdriver.chrome.options import Options

chrome_options = Options()
# incognito window
chrome_options.add_argument("--incognito")

In [188]:
driver = webdriver.Chrome("F:/chromedriver.exe",options = options)
driver.maximize_window()
driver.implicitly_wait(10)

In [189]:
driver.get("https://www.google.co.in/")

In [190]:
driver.find_element_by_name("q").send_keys("myntra")

In [191]:
actions = ActionChains(driver)
actions.send_keys(Keys.ENTER).perform()

In [192]:
driver.find_element_by_xpath('//*[@id="rso"]/div[1]/div/div/div[1]/a/div/cite').click()

In [193]:
driver.find_element_by_xpath('//*[@id="desktop-header-cnt"]/div[2]/div[3]/input').send_keys("jeans")

In [194]:
actions.send_keys(Keys.ENTER).perform()

In [195]:
all_details = []

In [196]:
for j in range(1,25):
    driver.get("https://www.myntra.com/jeans?p={}".format(j))
    for i in range(1,51):
        try:
            price = driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/ul/li[{}]/a/div[2]/div/span[1]/span[1]'.format(i)).text
            title = driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/ul/li[{}]/a/div[2]/h3'.format(i)).text
            description = driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/ul/li[{}]/a/div[2]/h4[1]'.format(i)).text
            driver.execute_script("window.scrollTo((i-1)*500,i*500)")
            dicti = {"price":price,
                   "title":title,
                   "description":description,}
            all_details.append(dicti)

        except:
            pass

In [200]:
import pandas as pd
data = pd.DataFrame(all_details)
data.head()

                  description    price       title
0          Men Slim Fit Jeans  Rs. 449    Roadster
1          Men Slim Fit Jeans  Rs. 594  HIGHLANDER
2  Men Super Skinny Fit Jeans  Rs. 509    Roadster
3       Men Tapered Fit Jeans  Rs. 664  HIGHLANDER
4        Men Skinny Fit Jeans  Rs. 509    Roadster

In [201]:
data.shape

(1199, 3)